@font-face {
    font-family: 'Anurati';
    src: url('HeaderFont.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: url("Wallpaper.png") no-repeat center center fixed;
    background-size: cover;
}

canvas {
    display: block;
}